#root {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 35px 25px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

input {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 10px;
  margin-bottom: 20px;
  max-width: 280px;
  width: 100%;
}

input:focus {
  outline: 2px solid #065f46;
  border-radius: 5px;
  border: none;
}
