.CVForm-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 800px;
  max-height: 1200px;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.267);
  padding-bottom: 300px;
}

.CVForm-header {
  background-color: #065f46;
  color: white;
}

.CVForm-main {
  display: flew;
}

.CVForm-main-education-section,
.CVForm-main-experience-section {
  padding: 0px 60px;
  margin-top: 40px;
}

.education-section-header,
.experience-section-header {
  color: #065f46;
  background-color: rgba(128, 128, 128, 0.26);
  padding: 5px;
}

.education-section-preview-info,
.experience-section-preview-info {
  display: flex;
  gap: 30px;
  font-size: 1.2rem;
  margin-top: 25px;
}

.preview-info-date {
  max-width: 200px;
  width: 100%;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
